
.caixaDica{
    font-size: 2em;
    align-items: center;
    text-align: center;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
           
}

.caixaPalavra{
    border: 15px yellow solid;
    margin: 10PX;
    padding: 10px;
    border-radius: 10px;
    z-index: 100;
}


.caixaBranca{
    font-size: 7em;
    margin: 3px;
    padding: 15px;
    width: 200px;
    line-height: 1.4em;
    background-color: #fff;
    border-radius: 5px;
    color:  rgb(43, 70, 226);
    text-transform: uppercase;
    z-index: 0;
        
}

@media screen and (max-width: 700px)  { 
    .caixaPrincipal{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        width: 100%;
           }
    
    .caixaPalavra{
        display: flex;
        margin: 0 auto;
        /* display: inherit; */
        /* text-align: center; */
        /* align-items: center; */
        /* justify-content:center; */
        width: 90%;
        z-index: 100;
                
    }

    .caixaBranca{
        display: inherit;
        font-size: 1.2em;
        margin: 3px;
        padding: 12px;
        padding-right: 1px;
        line-height: 1.5em;
        background-color: #fff;
        border-radius: 5px;
        color:  rgb(43, 70, 226);
        text-transform: uppercase;
        text-align: center;
        z-index: -1;
        overflow-x: hidden;
        
            
    } 
    
}