.barraTitulo {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.barraVidas {
    display: flex;
    width: 80%;
    text-align: center;
    justify-content: center;
    

}

.vidas {
    color: #fff;
    font-size: 1.3em;
    text-align: left;
    flex-direction: row;
    width: 100%;
    margin-left: 50px;
}

.pontuacao {
    margin-right: 50px;
    color:yellow;
    font-weight: 400;
    font-size: 1.3em;
    text-align: right;
    flex-direction: row;
    width: 100%;
}

.coracaoImg {
    width: 30px;
    margin: 3px;
    border-radius: 100px;
}

.caixaPrincipal {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 90vh;

}

.inputLetra {
    margin: 0 10px auto;
    display: inline;
    height: 50px;
    width: 50px;
    padding: 10px;
    font-size: 3em;
    text-align: center;
    border: 0;
    border-radius: 5px;
    color: rgb(43, 70, 226);
}

.botao {

    text-align: center;
    margin: auto 5px auto 5px;
    font-size: 1.5em;
    padding: 0px 15px 0px 15px;
    color: #fff;
    border: 5px solid yellow;
    background-color: rgb(43, 70, 226);
    border-radius: 100px;
    cursor: pointer;
    width: 150px;
    height: 45px;
}

.botao:hover {

    text-align: center;
    margin: auto 5px auto 5px;
    font-size: 1.8em;
    padding: 0px 15px 0px 15px;
    color: rgb(43, 70, 226);
    border: 5px solid yellow;
    background-color: #fff;
    border-radius: 50px;
    cursor: pointer;
}


.letrasErradasTitulo {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    color: #fff;
    font-weight: bold;
    font-size: 1.2em;

}
.letrasErradas {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    color: #fff;
    font-weight: bold;
    font-size: 1.2em;

}

.form {
    display: flex;
    justify-content: center;
    width: 100%;
    /* margin-left: 70px; */
    /* align-items: baseline; */
    /* margin-right: 45px; */
    /* margin: 10px 70% 10px auto; */
    

}


@media screen and (max-width: 700px) {
    .form {
        display: flex;
        justify-content: center;
        width: 100%;
        
    }

    .inputLetra {
        margin-top: 10px; 
        margin-left: 0 auto;
        display: inline;
        height: 45px;
        width: 45px;
        padding: 5px;
        font-size: 2.5em;
        text-align: center;
        border: 0;
        border-radius: 5px;
        color: rgb(43, 70, 226);
    }
    .coracaoImg {
        width: 30px;
        margin: 0 auto;
        border-radius: 100px;
    }

    .botao {
        margin: auto 5px auto 5px;
        padding: 0px 15px 0px 15px;
        text-align: center;
        font-size: 1em;
        color: #fff;
        border: 5px solid yellow;
        background-color: rgb(43, 70, 226);
        border-radius: 50px;
        cursor: pointer;
        
    }

    .botao:hover {
        margin: auto 5px auto 5px;
        padding: 0px 15px 0px 15px;
        text-align: center;
        font-size: 1em;
        color:  #2b46e2;
        border: 5px solid yellow;
        background-color: #fff;
        border-radius: 50px;
        cursor: pointer;
        
    }

    .vidas {
        color: #fff;
        font-size: 1.2em;
        /* display: flex; */
        /* justify-content: right; */
        text-align: center;
        width: 160px;
        display: none;
    }

    .barraVidas {
        display: flex;
        width: 100%;
        text-align: center;
        justify-content: center;

    }
    .pontuacao {
        /* margin-right: 5px; */
        color: #fff;
        font-size: 1.2em;
        text-align:right;
        width: 180px;
        
        
    }

    .letrasErradas {
        display: flex;
        margin-top: 25px;
        color: #fff;
        font-weight: bold;
        font-size: 1em;
    
    }

    


}