.barraTitulo {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.barraVidas {
    display: flex;
    width: 80%;
    text-align: center;
    justify-content: center;
    

}

.vidas {
    color: #fff;
    font-size: 1.3em;
    text-align: right;
    flex-direction: row;
    width: 100%;
}

.pontuacao {
    margin-right: 20px;
    color:yellow;
    font-weight: 400;
    font-size: 1.3em;
    text-align: right;
    flex-direction: row;
    width: 100%;
}

.coracaoImg {
    width: 30px;
    margin: 3px;
    border-radius: 100px;
}

.caixaPrincipal {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 90vh;

}

.inputLetra {
    margin-top: 15px;
    display: inline;
    height: 50px;
    width: 50px;
    padding: 10px;
    font-size: 4em;
    text-align: center;
    border: 0;
    border-radius: 5px;
    color: rgb(43, 70, 226);
}

.botao {

    text-align: center;
    margin-top: 10px;
    margin-left: 25px;
    font-size: 1.8em;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    color: #fff;
    border: 5px solid yellow;
    background-color: rgb(43, 70, 226);
    border-radius: 50px;
    cursor: pointer;
}

.botao:hover {

    text-align: center;
    margin-top: 10px;
    margin-left: 25px;
    font-size: 1.8em;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    color: rgb(43, 70, 226);
    border: 5px solid yellow;
    background-color: #fff;
    border-radius: 50px;
    cursor: pointer;
}


.letrasErradas {
    display: flex;
    margin-top: 25px;
    color: #fff;
    font-weight: bold;
    font-size: 1.2em;

}


@media screen and (max-width: 700px) {
    .form {
        display: flex;
        width: 100%;
        margin-left: 70px;
        align-items: baseline;
        margin-right: 45px;
    }


    .botao {
        text-align: center;
        margin-top: 5px;
        margin-left: 15px;
        font-size: 1.2em;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 25px;
        padding-right: 25px;
        color: #fff;
        border: 5px solid yellow;
        background-color: rgb(43, 70, 226);
        border-radius: 50px;
        cursor: pointer;
        
    }

    .botao:hover {

        text-align: center;
        margin-top: 5px;
        margin-left: 15px;
        font-size: 1.2em;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 25px;
        padding-right: 25px;
        color: rgb(43, 70, 226);
        border: 5px solid yellow;
        background-color: #fff;
        border-radius: 50px;
        cursor: pointer;
    }

    .vidas {
        color: #fff;
        font-size: 1em;
        display: flex;
        justify-content: right;
        width: 20%;
        display: none;
    }

    .barraVidas {
        display: flex;
        width: 50%;
        text-align: center;
        justify-content: center;

    }
    .pontuacao {
        margin-right: 5px;
        color: #fff;
        font-size: 1.2em;
        text-align: right;
        flex-direction: row;
        width: 120%;
    }


}